<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index/css/style.css') }}">

<html class="default">	

<head>
	<title>tarpey.dev</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='index/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='index/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='index/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='index/favicon/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='index/favicon/safari-pinned-tab.svg') }}" color="#5bbad5">
    <link rel="shortcut icon" href="{{ url_for('static', filename='index/favicon/favicon.ico') }}">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>


<div class="apps" style="color:ffffff; background-color:000000">Thanks for visiting.</div>

<div class="apps" style="{{ colors[0]|safe }}"><a href="{{ url_for('haveyouseenx.search') }}">haveyouseenx</a></div>

<div class="apps" style="{{ colors[1]|safe }}"><a href="{{ url_for('mildredleague.home') }}">mildredleague</a></div>

<div class="apps" style="{{ colors[2]|safe }}"><a href="{{ url_for('ddr.home') }}">DDR</a></div>

<div class="apps" style="{{ colors[3]|safe }}"><a href="{{ url_for('autobracket.generate') }}">autobracket</a></div>

<div class="apps" style="{{ colors[4]|safe }}"><a href="{{ url_for('timecapsule.timecapsule') }}">timecapsule</a></div>

<div class="apps" style="{{ colors[5]|safe }}"><a href="{{ url_for('index.links') }}">links</a></div>

<div class="apps" style="{{ colors[6]|safe }}"><a href="{{ url_for('index.colors') }}">colors</a></div>

<p>
    "{{ df.loc[quote_id, 'quoteText']|safe }}"<br>
    <i>-{{ df.loc[quote_id, 'quoteOrigin']|safe }}</i>
</p>

</html>