click==7.1.1
dnspython==1.16.0
FastAPI==0.62.0  # part of FastAPI Docker image
Flask==1.1.2
flask_swagger_ui==3.36.0
google-cloud-firestore==1.9.0
google-python-cloud-debugger  # Required for GCP debugging.
gunicorn==20.0.4  # part of FastAPI Docker image
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
numpy==1.18.4
pandas==1.0.3
plotly==4.8.1
pymongo==3.11.0
requests==2.23.0
seaborn
scipy==1.4.1
uvicorn==0.13.1  # part of FastAPI Docker image
Werkzeug==1.0.1
