@import url(https://fonts.googleapis.com/css?family=Lato:700,400);

/* specific elements of /mildredleague/rules */
.ml_rules {
  font-size: 100%;
  text-align: left;
}
/* specific elements of /mildredleague season pages */
.boxplots {
  width: 100%;
}
tr:nth-child(even) {background-color: #212121;}
tr:hover {background-color: #353535;}
/* specific elements of /mildredleague/alltime */
.plots {
  height: 50rem;
  width: 100%;
}

/* champ colors! */
a.tarpey {
  color: #FFFFFF;
  background-color: #FB4F14;
}
a.brando {
  color:#FFFFFF;
  background-color: #A71930;
}
a.fonti {
  color: #000000;
  background-color: #FFC20E;
}
a.frank {
  color: #FFFFFF;
  background-color: #006778;
}
a.sendzik {
  color: #FFFFFF;
  background-color: #00338D;
}
a.charles {
  color: #FFFFFF;
  background-color: #004C54;
}