{% extends 'base.html' %}
  
{% block title %}mildredleague stats{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mildredleague/css/mildredleague.css') }}">
{% endblock %}

{% block java %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block header %}mildredleague stats{% endblock %}

{% block content %}
<p>
  Scroll down for some visuals that tell the all-time story of Mildred League...
</p>

<div class="plots" id="matchup_heatmap">
  <script>
    var graphs = {{matchups | safe}};
    var layout = {};
    var config = {responsive: true};
    Plotly.react('matchup_heatmap', graphs, layout, config);
  </script>
</div>

<div class="plots" id="ranking_heatmap">
  <script>
    var graphs = {{ranks | safe}};
    var layout = {};
    var config = {responsive: true};
    Plotly.react('ranking_heatmap', graphs, layout, config);
  </script>
</div>

<div class="plots" id="win_bars">
  <script>
    var graphs = {{wins | safe}};
    var layout = {};
    var config = {responsive: true};
    Plotly.react('win_bars', graphs, layout, config);

    window.onresize = function() {
      Plotly.relayout('matchup_heatmap', {
        'xaxis.autorange': true,
        'yaxis.autorange': true
      });
      Plotly.relayout('ranking_heatmap', {
        'xaxis.autorange': true,
        'yaxis.autorange': true
      });
      Plotly.relayout('win_bars', {
        'xaxis.autorange': true,
        'yaxis.autorange': true
      });
    };
  </script>
</div>
{% endblock %}