{% extends 'base.html' %}
  
{% block title %} - mildredleague admin{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mildredleague/css/mildredleague.css') }}">
{% endblock %}

{% block java %}
{% endblock %}

{% block header %}
mildredleague edit game
{% endblock %}

{% block content %}

<button id="get-button">Retrieve game</button><br>

<script>
    document.getElementById("get-button").addEventListener("click", retrieveData);
    function retrieveData() {
        document.getElementById("away").value = "Retrieving data...";
        var requestURL = (
            "get-game/" +
            String(document.getElementById("_id").value)
        );
        var request = new Request(requestURL);
        fetch(request).then(
            response => {
                if (response.status !== 200) {
                    console.log('There was a problem! Code: ' + response.status);
                    document.getElementById("away").value = "API error!";
                    return;
                } 
                response.json().then(
                    data => {
                        for (let key in data) {
                            document.getElementById(key).value = data[key]; 
                        }
                    }
                );
            }
        ).catch(
            e => {
                console.log('Fetch error =[', e)
            }
        );
    }
</script>

<form id="game-info">
    <section class="game_data">
        <label for="_id"><span class="add-game">Game ID</span></label>
        <input name="_id" type="number" id="_id" required><br>
        <label for="away"><span class="add-game">Away Team</span></label>
        <input name="away" type="text" id="away"><br>
        <label for="a_name"><span class="add-game">Away Name</span></label>
        <input name="a_name" type="text" id="a_name"><br>
        <label for="a_nick"><span class="add-game">Away Nickname</span></label>
        <input name="a_nick" type="text" id="a_nick"><br>
        <label for="a_division"><span class="add-game">Away Division</span></label>
        <input name="a_division" type="text" id="a_division"><br>
        <label for="a_score"><span class="add-game">Away Score</span></label>
        <input name="a_score" type="number" step="0.01" id="a_score"><br>
        <label for="home"><span class="add-game">Home Team</span></label>
        <input name="home" type="text" id="home"><br>
        <label for="h_name"><span class="add-game">Home Name</span></label>
        <input name="h_name" type="text" id="h_name"><br>
        <label for="h_nick"><span class="add-game">Home Nickname</span></label>
        <input name="h_nick" type="text" id="h_nick"><br>
        <label for="h_division"><span class="add-game">Home Division</span></label>
        <input name="h_division" type="text" id="h_division"><br>
        <label for="h_score"><span class="add-game">Home Score</span></label>
        <input name="h_score" type="number" step="0.01" id="h_score"><br>
        <label for="week_s"><span class="add-game">Week Start</span></label>
        <select name="week_s" id="week_s">
            {% for i in range(1, 18) %}
            <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select><br>
        <label for="week_e"><span class="add-game">Week End</span></label>
        <select name="week_e" id="week_e">
            {% for i in range(1, 18) %}
            <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select><br>
        <label for="season"><span class="add-game">Season</span></label>
        <select name="season" id="season">
            {% for i in range(2013, 2022) %}
            <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select><br>
        <label for="playoff"><span class="add-game">Playoff</span></label>
        <select name="playoff" id="playoff">
            <option value="0">0</option>
            <option value="1">1</option>
        </select><br>
    </section>
</form>

<button id="edit-button">Edit game</button>
<button id="delete-button">Delete game</button>
<script>
    document.getElementById("edit-button").addEventListener("click", editData);
    document.getElementById("delete-button").addEventListener("click", deleteData);
    function editData() {
        document.getElementById("confirm").innerHTML = "Editing data...";
        var formData = new FormData(document.getElementById("game-info"));
        var formDict = {};
        formData.forEach(function(value, key) {
            formDict[key] = value;
        });
        var request = new Request(
            "edit-game",
            {
                method: 'PUT',
                body: JSON.stringify(formDict)
            }
        );
        fetch(request).then(
            response => {
                if (response.status !== 200) {
                    console.log('There was a problem! Code: ' + response.status);
                    document.getElementById("confirm").innerHTML = "API error!";
                    return;
                }
                response.text().then(
                    data => {
                        document.getElementById("confirm").innerHTML = data
                    }
                );
            }
        ).catch(
            e => {
                console.log('Fetch error =[', e)
            }
        );
    }
    function deleteData() {
        document.getElementById("confirm").innerHTML = "Deleting data...";
        var requestURL = (
            "delete-game/" +
            String(document.getElementById("_id").value)
        );
        var request = new Request(
            requestURL,
            {
                method: 'DELETE'
            }
        );
        fetch(request).then(
            response => {
                if (response.status !== 200) {
                    console.log('There was a problem! Code: ' + response.status);
                } 
                response.text().then(
                    data => {
                        document.getElementById("confirm").innerHTML = data
                    }
                );
            }
        ).catch(
            e => {
                console.log('Fetch error =[', e)
            }
        );
    }
</script>

<p id="confirm"></p>

{% endblock %}