{% extends 'base.html' %}
  
{% block title %} - mildredleague{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mildredleague/css/mildredleague.css') }}">
{% endblock %}

{% block header %}mildredleague{% endblock %}

{% block content %}
<p>
  I played fantasy football prior to 2013, but 2013 was a special year because it was the year my grandma decided to jump in and play.
  (She's always loved football - been a Washington Redskins fan for her entire life.) And so, Mildred League was born.
</p>

<p>
  The league is a collection of my friends from all walks of life, and they all love that she's a part of the league...
  so eventually I decided to just rename the league after her. I'm sure there are other grandmas out there that play fantasy football, but not in my life!
</p>

<b>League Info</b>
  <ul>
    <li><a href="{{ url_for('mildredleague.alltime') }}">All-time Stats</a></li>
    <li><a href="{{ url_for('mildredleague.rules') }}">Rules</a></li>
  </ul>

<p>
  <b>Season Info</b>
  <ul>
    <li><a href="{{ url_for('mildredleague.season_page', season=2013) }}">2013 (champ: Tarpey)</a></li>
    <li><a href="{{ url_for('mildredleague.season_page', season=2014) }}">2014 (champ: Brando)</a></li>
    <li><a href="{{ url_for('mildredleague.season_page', season=2015) }}">2015 (champ: Fonti)</a></li>
    <li><a href="{{ url_for('mildredleague.season_page', season=2016) }}">2016 (champ: Frank)</a></li>
    <li><a href="{{ url_for('mildredleague.season_page', season=2017) }}">2017 (champ: Fonti)</a></li>
    <li><a href="{{ url_for('mildredleague.season_page', season=2018) }}">2018 (champ: Tarpey)</a></li>
    <li><a href="{{ url_for('mildredleague.season_page', season=2019) }}">2019 (champ: Sendzik)</a></li>
    <li><a href="{{ url_for('mildredleague.season_page', season=2020) }}">2020 (champ: ???)</a></li>
  </ul>
</p>
{% endblock %}