{% extends 'base.html' %}
  
{% block title %}mildredleague rules{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mildredleague/css/mildredleague.css') }}">
{% endblock %}

{% block header %}
mildredleague rules
{% endblock %}

{% block content %}
<table class="ml_rules">
  <th>Rule</th><th>Description</th>
  <tr><td>Prize Pool</td><td>3rd place refund, 2nd place 2x refund, 1st place gets pot</td></tr>
  <tr><td>Roster</td><td>QB / RB / 2WR / TE / 2FLX / 1K / 1D / 5B</td></tr>
  <tr><td>Divisions</td><td>Champions, AFC East, Referees</td></tr>
  <tr><td>Playoffs</td><td>Three division winners (#1, #2, #3) and three wild cards (#4, #5, #6) make playoffs. Playoffs reseed after each round.</td></tr>
  <tr><td>Consolation Bracket</td><td>Swiss-style tournament. Winner earns choice of draft slot next year.</td></tr>
  <tr><td>Scheduling</td><td>Play divisional opponents twice. Schedule fills with non-division opponents.</td></tr>
</table>

<b>Playoff Tiebreakers</b>
<ol class="lettered_list">
  <li>If two teams in the same division end up tied (i.e. 7-7), tiebreakers will happen in this order:</li>
  <ol>
    <li>Head-to-head record</li>
    <li>Division record</li>
    <li>Points for</li>
    <li>Points against</li>
    <li>Coin toss (a real one, not random number generated)</li>
  </ol>
  <li>If two teams in different divisions end up tied, tiebreakers will happen in this order:</li>
  <ol>
    <li>Head-to-head record</li>
    <li>Points for</li>
    <li>Points against</li>
    <li>Coin toss (a real one, not random number generated)</li>
  </ol>
  <li>If 3+ teams end up tied, ties are broken INSIDE each division first before comparing teams from different divisions.</li>
</ol>
{% endblock %}