{% extends 'base.html' %}
  
{% block title %} - mildredleague {{ season.value }}{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/mildredleague/css/mildredleague.css') }}">
{% endblock %}

{% block java %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
<script src="{{ url_for('static', path='/index/js/tarpeydevlayout.js') }}"></script>
{% endblock %}

{% block header %}
mildredleague {{ season.value }}
{% endblock %}

{% block content %}
<p>
  <b>Playoff Results</b>
  <div style="overflow-x:auto;">
    <table id="playoff-table">
    </table>
  </div>
</p>

<p>
  <b>Loser's Bracket Standings</b>
  <div style="overflow-x:auto;">
    <table id="losers-table">
    </table>
  </div>
</p>


<p>
  <b>Regular Season Standings</b>
  <div style="overflow-x:auto;">
    <table id="reg-season-table">
    </table>
  </div>
</p>

<p>
  <b>Stats</b>
  <ul>
    <li>These charts include playoff games and byes.</li>
    <li>Scores for playoff games lasting two weeks have been normalized (divided by 2).</li>
  </ul>
</p>

<div class="boxplots">
  <div class="boxplot" id="boxplot_for">
  </div>

  <div class="boxplot" id="boxplot_against">
  </div>
</div>

<p>
  <b>Notes</b><br>
  <ul>
    {% for note in notes_data %}
    <li>{{ note.note }}</li>
    {% endfor %}
  </ul>
</p>

<script>
  const oldFetchData = async () => {
    let rawBoxplotData = await fetch("/api/mildredleague/" + String({{ season.value }}) + "/boxplot");
    let boxplotData = await rawBoxplotData.json();
    let rawTableData = await fetch("/api/mildredleague/" + String({{ season.value }}) + "/table/0");
    let tableData = await rawTableData.json();
    let rawPlayoffTableData = await fetch("/api/mildredleague/" + String({{ season.value }}) + "/table/1");
    let playoffTableData = await rawPlayoffTableData.json();
    let rawLosersTableData = await fetch("/api/mildredleague/" + String({{ season.value }}) + "/table/2");
    let losersTableData = await rawLosersTableData.json();

    // make sure all data is returned at the same time
    // https://medium.com/@gianpaul.r/fetching-from-multiple-api-endpoints-at-once-ffb1b54600f9
    var data = Promise.all([boxplotData, tableData, playoffTableData, losersTableData]);
    return data;
  }

  const fetchData = async () => {
    let [boxplotData, tableData, playoffTableData, losersTableData] = await Promise.all([
      fetch("/api/mildredleague/" + String({{ season.value }}) + "/boxplot").then(data => data.json()),
      fetch("/api/mildredleague/" + String({{ season.value }}) + "/table/0").then(data => data.json()),
      fetch("/api/mildredleague/" + String({{ season.value }}) + "/table/1").then(data => data.json()),
      fetch("/api/mildredleague/" + String({{ season.value }}) + "/table/2").then(data => data.json()),
    ]);

    return [boxplotData, tableData, playoffTableData, losersTableData];
  }

  var boxplotFor = async (chartData) => {
    // boxplot for object
    BOXPLOTFOR = document.getElementById('boxplot_for');
    // pull x_data and y_data from Python
    var xData = chartData['x_data'];
    var yData = chartData['y_data'];
    // plotData needs to be an array of valid traces, so
    // here's a loop that constructs the traces from
    // x_data and y_data, then pushes it into plotData
    var plotData = [];
    for ( var i = 0; i < xData.length; i ++ ) {
      var trace = {
        type: 'box',
        y: yData[i],
        name: xData[i],
        boxpoints: 'all',
      };
      plotData.push(trace);
    };
    var layout = { 
      template: tarpeydevDefault,
      title: {{ season.value }} + ' Points For',
      margin: {l:70, r:50, t:60, b:30},
      legend: {orientation:'h', y:0, xanchor:'left', x:0},
      xaxis: {
        title: null,
        showticklabels: false,
      },
      colorway: chartData['color_data'],
    };
    var config = { 
      responsive: true
    };
    Plotly.newPlot(BOXPLOTFOR, plotData, layout, config)
  }

  var boxplotAgainst = async (chartData) => {
    // boxplot against object
    BOXPLOTAGAINST = document.getElementById('boxplot_against');
    // pull x_data and y_data from Python
    var xData = chartData['x_data'];
    var yData = chartData['y_data'];
    // plotData needs to be an array of valid traces, so
    // here's a loop that constructs the traces from
    // x_data and y_data, then pushes it into plotData
    var plotData = [];
    for ( var i = 0; i < xData.length; i ++ ) {
      var trace = {
        type: 'box',
        y: yData[i],
        name: xData[i],
        boxpoints: 'all',
      };
      plotData.push(trace);
    };
    var layout = { 
      template: tarpeydevDefault,
      title: {{ season.value }} + ' Points Against',
      margin: {l:70, r:50, t:60, b:30},
      legend: {orientation:'h', y:0, xanchor:'left', x:0},
      xaxis: {
        title: null,
        showticklabels: false,
      },
      colorway: chartData['color_data'],
    };
    var config = { 
      responsive: true
    };
    Plotly.newPlot(BOXPLOTAGAINST, plotData, layout, config)
  }

  var seasonTable = async (data, table) => {
    let thead = table.createTHead();
    let row = thead.insertRow();

    // headers
    for (const header of data['columns']) {
      let th = document.createElement("th");
      let text = document.createTextNode(header);
      th.appendChild(text);
      row.appendChild(th);
    }

    // data
    for (let team of data['data']) {
      let formatList = ['skip', 'skip', '0', '0', '0', '0', '0.000', '0,0.00', '0,0.00', '0,0.00', '0', 'skip']
      let row = table.insertRow();
      for (const [index, item] of team.entries()) {
        if (formatList[index] !== 'skip') {
          var itemFormatted = numeral(item).format(formatList[index]);
        } else {
          var itemFormatted = item;
        }
        let cell = row.insertCell();
        let text = document.createTextNode(itemFormatted);
        cell.appendChild(text);
      }
    }
  }

  async function renderCharts () {
    const data = await fetchData();
    boxplotFor(data[0]['for_data']);
    boxplotAgainst(data[0]['against_data']);
    var table = document.querySelector("#reg-season-table");
    seasonTable(data[1], table);
    var table = document.querySelector("#playoff-table");
    seasonTable(data[2], table);
    var table = document.querySelector("#losers-table");
    seasonTable(data[3], table);
  }
  
  renderCharts();
</script>
{% endblock %}