{% extends 'base.html' %}
  
{% block title %}mildredleague {{ season }}{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mildredleague/css/mildredleague.css') }}">
{% endblock %}

{% block java %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="{{ url_for('static', filename='index/js/tarpeydevlayout.js') }}"></script>
{% endblock %}

{% block header %}
mildredleague {{ season }}
{% endblock %}

{% block content %}
<p>
  <b>Notes</b><br>
  <ul>
    {% for note in notes %}
    <li>{{ note.get('note') }}</li>
    {% endfor %}
  </ul>
</p>

<p>
  <b>Full Standings</b>
  <ul>
    <li>Includes playoff games.</li>
    <li>Scores for playoff games lasting two weeks have been normalized (divided by 2).</li>
  </ul>
  <div style="overflow-x:auto;"><table>
    <thead>
      {% for header in table.columns %}
      <th class="season_header">{{ header }}</th>
      {% endfor %}
    </thead>
    <tbody>
      {% for index, row in table.iterrows() %}
      <tr class="season_row">
        <td class="division">
          {{ row.division }}
        </td>
        <td class="nick_name">
          {{ row.nick_name }}
        </td>
        <td class="win_total">
          {{ '{:.0f}'.format(row.win_total) }}
        </td>
        <td class="loss_total">
          {{ '{:.0f}'.format(row.loss_total) }}
        </td>
        <td class="tie_total">
          {{ '{:.0f}'.format(row.tie_total) }}
        </td>
        <td class="games_played">
          {{ '{:.0f}'.format(row.games_played) }}
        </td>
        <td class="win_pct">
          {{ '{:03.3f}'.format(row.win_pct) }}
        </td>
        <td class="points_for">
          {{ '{:06.2f}'.format(row.points_for) }}
        </td>
        <td class="points_against">
          {{ '{:06.2f}'.format(row.points_against) }}
        </td>
        <td class="avg_margin">
          {{ '{:04.2f}'.format(row.avg_margin) }}
        </td>
        {% if row.division_rank %}
        <td class="division_rank">
          {{ '{:.0f}'.format(row.division_rank) }}
        </td>
        {% endif %}
        {% if row.playoff_seed %}
        <td class="playoff_seed">
          {{ '{:.0f}'.format(row.playoff_seed) }}
        </td>
        {% endif %}
        {% if row.playoff_rank %}
        <td class="playoff_rank">
          {{ '{:.0f}'.format(row.playoff_rank) }}
        </td>
        {% endif %}
        {% if row.active %}
        <td class="active">
          {{ row.active }}
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table></div>
</p>

<p>
  <b>Stats</b>
</p>

<div class="boxplots">
  <div class="boxplot" id="boxplot_for">
    <script>
      // boxplot for object
      BOXPLOTFOR = document.getElementById('boxplot_for');
      // pull x_data and y_data from Python
      var xData = {{ x_data_for | safe }};
      var yData = {{ y_data_for | safe }};
      // plotData needs to be an array of valid traces, so
      // here's a loop that constructs the traces from
      // x_data and y_data, then pushes it into plotData
      var plotData = [];
      for ( var i = 0; i < xData.length; i ++ ) {
        var trace = {
          type: 'box',
          y: yData[i],
          name: xData[i],
          boxpoints: 'all',
        };
        plotData.push(trace);
      };
      var layout = { 
        template: tarpeydevDefault,
        title: {{ season }} + ' Points For',
        margin: {l:70, r:50, t:60, b:30},
        legend: {orientation:'h', y:0, xanchor:'left', x:0},
        xaxis: {
          title: null,
          showticklabels: false,
        },
        colorway: {{ color_data_for | safe }},
      };
      var config = { 
        responsive: true
      };
      Plotly.newPlot(BOXPLOTFOR, plotData, layout, config)
    </script>
  </div>

  <div class="boxplot" id="boxplot_against">
    <script>
      // boxplot against object
      BOXPLOTAGAINST = document.getElementById('boxplot_against');
      // pull x_data and y_data from Python
      var xData = {{ x_data_against | safe }};
      var yData = {{ y_data_against | safe }};
      // plotData needs to be an array of valid traces, so
      // here's a loop that constructs the traces from
      // x_data and y_data, then pushes it into plotData
      var plotData = [];
      for ( var i = 0; i < xData.length; i ++ ) {
        var trace = {
          type: 'box',
          y: yData[i],
          name: xData[i],
          boxpoints: 'all',
        };
        plotData.push(trace);
      };
      var layout = { 
        template: tarpeydevDefault,
        title: {{ season }} + ' Points Against',
        margin: {l:70, r:50, t:60, b:30},
        legend: {orientation:'h', y:0, xanchor:'left', x:0},
        xaxis: {
          title: null,
          showticklabels: false,
        },
        colorway: {{ color_data_against | safe }},
      };
      var config = { 
        responsive: true
      };
      Plotly.newPlot(BOXPLOTAGAINST, plotData, layout, config)
    </script>
  </div>
</div>
{% endblock %}