{% extends 'base.html' %}

{% block title %}autobracket{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='autobracket/css/autobracket.css') }}">
{% endblock %}

{% block header %} - autobracket{% endblock %}

{% block content %}
  <p>
    This is an automatic bracket generator for March Madness 2019. <b>It's over now (congrats to UVA), but you can re-run the model in the state it was in before the Sweet 16 began.</b>
    Improvements will be made before March Madness 2021 begins!
  </p>

  <p>
    This model relies heavily on the advanced college basketball analysis done at <a href="https://kenpom.com">Kenpom</a>.
    (It's basically just a made-up formula that puts some of his numbers together in a manner that has been mildly successful for me in the past.)
  </p>

  <p>
    You can choose the Classic or Modern simulation. Classic only uses data from the 68 teams in the bracket to simulate this year's tournament. Modern will utilize data from all 353 teams listed on <a href="https://kenpom.com">Kenpom</a>.
  </p>

  <p>
    You can add Chaos to the model if you feel like you're not getting enough upsets. 0 is default, and 10 is maximum chaos (basically 50/50).
  </p>

  <p>
    The model is updated with Round of 32 results. Do a Partial (Yes) model to start the model at the RO16, or a Full (No) model to re-run all 67 games.
  </p>

  <form action="{{ url_for('autobracket.bracket') }}" method="POST">
    
    <section class="ro32">
    Use RO32 results?<br>
    <input name="model_current" type="radio" id="partial" value="partial" required><label for="partial">Yes</label>
    <input name="model_current" type="radio" id="full" value="full"><label for="full">No</label>
    </section>

    
    <section class="model_type">
    Model type?<br>
    <input name="model_choice" type="radio" id="classic" value="classic" required><label for="classic">Classic</label>
    <input name="model_choice" type="radio" id="modern" value="modern"><label for="partial">Modern</label>
    </section>

    <section class="added_chaos">
    <label for='chaosbox'>Added chaos?</label><br>
    <input id='chaosbox' name='chaos_choice' type="number" min="0" max="10" step="1" required>
    </section>


    <input type="submit" value="Go!">
  </form>
{% endblock %}