{% extends 'base.html' %}
  
{% block title %} - colors{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/index/css/colors.css') }}">
{% endblock %}

{% block header %}colors{% endblock %}

{% block content %}
  <p>
    I use colors to stay organized in all aspects of life...
  </p>

  <p>  
    At work? Colored cells.<br>
    Studying? Gel pens.<br>
    Around the house? Cable labels.<br>
    T-shirts? Ordered by color.
  </p>

  <p>
    Here are some of my favorite color sets.
  </p>

  <p>
    <div id="site-colors-header" class="colorhead">Navigation bar (look up!)</div>
    <div id="site-colors" class="dark-palettes"></div>
    <div id="site-colors" class="dark-palettes"></div>
    <div id="site-colors" class="dark-palettes"></div>
    <div id="site-colors" class="dark-palettes"></div>
    <div id="site-colors" class="dark-palettes"></div>
    <div id="site-colors" class="dark-palettes"></div>
    <div id="site-colors" class="dark-palettes"></div>
    <div id="site-colors" class="dark-palettes"></div>
    <div id="site-colors" class="dark-palettes"></div>
  </p>

  <p>
    <div class="colorhead">Atlanta Braves</div>
    <div class="dark-palettes" style="background-color:#13274f">Navy Blue [13274f]</div>
    <div class="dark-palettes" style="background-color:#ce1141">Scarlet Red [ce1141]</div>
    <div class="light-palettes" style="background-color:#eaaa00">Gold [eaaa00]</div>
  </p>

  <p>
    <div class="colorhead">Cloud9</div>
    <div class="dark-palettes" style="background-color:#00aeef">C9 Blue [00aeef]</div>
  </p>

  <p>
    <div class="colorhead">DDR</div>
    <div class="dark-palettes" style="background-color:#00acff">Beginner [00acff]</div>
    <div class="light-palettes" style="background-color:#ffac00">Light [ffac00]</div>
    <div class="dark-palettes" style="background-color:#e634af">Standard [e634af]</div>
    <div class="light-palettes" style="background-color:#69fd00">Heavy [69fd00]</div>
    <div class="dark-palettes" style="background-color:#7d6fe7">Challenge [7d6fe7]</div>
  </p>

  <p>
    <div class="colorhead">Denver Broncos</div>
    <div class="dark-palettes" style="background-color:#fb4f14">Orange [fb4f14]</div>
    <div class="dark-palettes" style="background-color:#002244">Navy Blue [002244]</div>
  </p>

  <p>
    <div class="colorhead">London Spitfire</div>
    <div class="light-palettes" style="background-color:#59cae8">Light Blue [59cae8]</div>
    <div class="dark-palettes" style="background-color:#1b2b3a">Dark Blue [1b2b3a]</div>
    <div class="light-palettes" style="background-color:#ff8201">Orange [ff8201]</div>
  </p>

  <p>
    <div class="colorhead">UConn (primary)</div>
    <div class="dark-palettes" style="background-color:#000e2f">Navy Blue [000e2f]</div>
    <div class="light-palettes" style="background-color:#ffffff">White [ffffff]</div>
    <div class="dark-palettes" style="background-color:#7c878e">Grey [7c878e]</div>
  </p>

  <p>
    <div class="colorhead">UConn (complementary)</div>
    <div class="dark-palettes" style="background-color:#8a2121">Dark Red [8a2121]</div>
    <div class="dark-palettes" style="background-color:#563680">Purple [563680]</div>
    <div class="dark-palettes" style="background-color:#ce952e">Orange Gold [ce952e]</div>
    <div class="dark-palettes" style="background-color:#7c8e31">Green [7c8e31]</div>
    <div class="light-palettes" style="background-color:#85b3cc">Teal Blue [85b3cc]</div>
    <div class="dark-palettes" style="background-color:#9a8e57">Gold [9a8e57]</div>
  </p>

  <p>
    <a class="inline" href="{{ url_for('homepage') }}">Back to the home page</a>
  </p>

  <script>
    var colorData = [];
    var numberOfColors = document.querySelectorAll(".small-nav-link").length;
    for ( var i = 0; i < numberOfColors; i ++ ) {
      var siteColor = Please.make_color(
        {
            hue: i * 360 / numberOfColors,
            saturation: .7,
            value: .5,
            golden: false,
            format: 'hex',
        }
      );
      colorData.push(siteColor);
    }
    for (var [index, palette] of document.querySelectorAll("#site-colors").entries()) {
      console.log(index);
      console.log(palette);
      palette.style.backgroundColor = colorData[index];
      palette.innerHTML = colorData[index];
    }
    for (var palette of document.querySelectorAll(".dark-palettes")) {
      palette.style.color = '#FFFFFF'
    }
    for (var palette of document.querySelectorAll(".light-palettes")) {
      palette.style.color = '#000000'
    }
  </script>
{% endblock %}
