<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index/css/style.css') }}">

<html class="default">	

<head>
	<title>colors</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='index/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='index/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='index/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='index/favicon/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='index/favicon/safari-pinned-tab.svg') }}" color="#5bbad5">
    <link rel="shortcut icon" href="{{ url_for('static', filename='index/favicon/favicon.ico') }}">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<p>
	I use colors to stay organized in all aspects of life...
</p>

<p>    
    At work? Colored cells.<br>
    Studying? Gel pens.<br>
    Around the house? Cable labels.<br>
    T-shirts? Ordered by color.
</p>

<p>
    Here are some of my favorite color sets.
</p>

<p>
    <div class="colorhead">Atlanta Braves</div>
    <div class="colors" style="color:ffffff; background-color:13274f">Navy Blue [13274f]</div>
    <div class="colors" style="color:ffffff; background-color:ce1141">Scarlet Red [ce1141]</div>
    <div class="colors" style="color:000000; background-color:eaaa00">Gold [eaaa00]</div>
</p>

<p>
    <div class="colorhead">Cloud9</div>
    <div class="colors" style="color:ffffff; background-color:00aeef">C9 Blue [00aeef]</div>
</p>

<p>
    <div class="colorhead">DDR</div>
    <div class="colors" style="color:ffffff; background-color:00acff">Beginner [00acff]</div>
    <div class="colors" style="color:000000; background-color:ffac00">Light [ffac00]</div>
    <div class="colors" style="color:ffffff; background-color:e634af">Standard [e634af]</div>
    <div class="colors" style="color:000000; background-color:69fd00">Heavy [69fd00]</div>
    <div class="colors" style="color:ffffff; background-color:7d6fe7">Challenge [7d6fe7]</div>
</p>

<p>
    <div class="colorhead">Denver Broncos</div>
    <div class="colors" style="color:000000; background-color:fb4f14">Orange [fb4f14]</div>
    <div class="colors" style="color:ffffff; background-color:002244">Navy Blue [002244]</div>
</p>

<p>
    <div class="colorhead">London Spitfire</div>
    <div class="colors" style="color:000000; background-color:59cae8">Light Blue [59cae8]</div>
    <div class="colors" style="color:ffffff; background-color:1b2b3a">Dark Blue [1b2b3a]</div>
    <div class="colors" style="color:000000; background-color:ff8201">Orange [ff8201]</div>
</p>

<p>
    <div class="colorhead">UConn (primary)</div>
    <div class="colors" style="color:ffffff; background-color:000e2f">Navy Blue [000e2f]</div>
    <div class="colors" style="color:000000; background-color:ffffff">White [ffffff]</div>
    <div class="colors" style="color:ffffff; background-color:7c878e">Grey [7c878e]</div>
</p>

<p>
    <div class="colorhead">UConn (complementary)</div>
    <div class="colors" style="color:ffffff; background-color:8a2121">Dark Red [8a2121]</div>
    <div class="colors" style="color:ffffff; background-color:563680">Purple [563680]</div>
    <div class="colors" style="color:ffffff; background-color:ce952e">Orange Gold [ce952e]</div>
    <div class="colors" style="color:ffffff; background-color:7c8e31">Green [7c8e31]</div>
    <div class="colors" style="color:000000; background-color:85b3cc">Teal Blue [85b3cc]</div>
    <div class="colors" style="color:ffffff; background-color:9a8e57">Gold [9a8e57]</div>
</p>

<p>
	<a href="{{ url_for('index.index') }}">Back to the home page</a>
</p>

</html>