{% extends 'base.html' %}
  
{% block title %}games{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index/css/games.css') }}"> 
{% endblock %}

{% block content %}
<img src="{{ url_for('static', filename='index/favicon/annuitydew.jpg') }}" class="brand">
<a href="http://profiles.exophase.com/AnnuityDew/"><img src="https://card.exophase.com/1/1253287.png" class="exophase"></a>
<a href="http://profiles.exophase.com/AnnuityDew/"><img src="https://card.exophase.com/1/1253288.png" class="exophase"></a>  
<a href="http://profiles.exophase.com/AnnuityDew/"><img src="https://card.exophase.com/1/1253286.png" class="exophase"></a>
{% endblock %}