{% extends 'base.html' %}

{% block description %}
<meta name="description" content="Mike Tarpey, a pretty ordinary citizen 
of planet Earth. Credentialed actuary, aspiring programmer, 
casual Twitch streamer, small-time patron, and friend.">
{% endblock %}

{% block special %}
<div id="banner">
  <h1 class="intro">mike tarpey</h1>
</div>
{% endblock %}

{% block content %}
<h2 class="center">Thanks for visiting.</h2>
<section id="random-quote" class="center">
  <blockquote class="center">"{{ quote.get('quote_text') }}"</blockquote>
  <i><cite class="center">-{{ quote.get('quote_origin') }}</cite></i>
</section>
{% endblock %}