{% extends 'base.html' %}

{% block description %}
<meta name="description" content="Mike Tarpey, a pretty ordinary citizen 
of planet Earth. I'm doing my best to relentlessly develop as a credentialed
actuary, aspiring programmer, casual charity Twitch streamer, and friend.">
{% endblock %}

{% block special %}
<div id="banner">
  <h1 class="intro">mike tarpey</h1>
</div>
{% endblock %}

{% block content %}
<h2 class="center">Thanks for visiting.</h2>
<p class="center">
  <span id="quote-text">{{ quote.get('quote_text') }}</span><br>
  <i><span id="quote-origin">{{ quote.get('quote_origin') }}</span></i>
</p>
{% endblock %}
