{% extends 'base.html' %}

{% block title %} - have you played x? admin{% endblock %}

{% block style %}
{% endblock %}

{% block java %}
{% endblock %}

{% block header %}
have you played x? edit game
{% endblock %}

{% block content %}

<button id="get-button">Retrieve game</button><br>

<script>
    document.getElementById("get-button").addEventListener("click", retrieveData);
    function retrieveData() {
        document.getElementById("game_title").value = "Retrieving data...";
        var requestURL = (
            "/api/haveyouseenx/game/" +
            String(document.getElementById("_id").value)
        );
        var request = new Request(requestURL);
        fetch(request).then(
            response => {
                if (response.status !== 200) {
                    console.log('There was a problem! Code: ' + response.status);
                    document.getElementById("game_title").value = "API error!";
                    return;
                } 
                response.json().then(
                    data => {
                        for (let key in data) {
                            document.getElementById(key).value = data[key]; 
                        }
                    }
                );
            }
        ).catch(
            e => {
                console.log('Fetch error =[', e)
            }
        );
    }
</script>

<form id="game-info">
    <section class="game_data">
        <label for="_id"><span class="admin-form">ID</span></label>
        <input name="_id" type="text" id="_id" required><br>
        <label for="game_title"><span class="admin-form">Game Title</span></label>
        <input name="game_title" type="text" id="game_title"><br>
        <label for="sub_title"><span class="admin-form">Sub Title (DLC)</span></label>
        <input name="sub_title" type="text" id="sub_title"><br>
        <label for="game_system"><span class="admin-form">Game System</span></label>
        <input name="game_system" type="text" id="game_system"><br>
        <label for="genre"><span class="admin-form">Genre</span></label>
        <input name="genre" type="text" id="genre"><br>
        <label for="now_playing"><span class="admin-form">Now Playing</span></label>
        <select name="now_playing" id="now_playing">
            <option value="Y">Y</option>
            <option value="N">N</option>
        </select><br>
        <label for="game_status"><span class="admin-form">Game Status</span></label>
        <select name="game_status" id="game_status">
            <option value="Not Started">Not Started</option>
            <option value="Started">Started</option>
            <option value="Beaten">Beaten</option>
            <option value="Completed">Completed</option>
            <option value="Mastered">Mastered</option>
            <option value="Infinite">Infinite</option>
            <option value="Wish List">Wish List</option>
        </select><br>
        <label for="game_hours"><span class="admin-form">Game Hours</span></label>
        <input name="game_hours" type="number" step="1" id="game_hours"><br>
        <label for="game_minutes"><span class="admin-form">Game Minutes</span></label>
        <input name="game_minutes" type="number" step="1" id="game_minutes"><br>
        <label for="playtime_calc"><span class="admin-form">Playtime Calc</span></label>
        <select name="playtime_calc" id="playtime_calc">
            <option value="Actual">Actual</option>
            <option value="Estimate">Estimate</option>
        </select><br>
        <label for="add_date"><span class="admin-form">Add Date</span></label>
        <input name="add_date" type="datetime-local" id="add_date"><br>
        <label for="start_date"><span class="admin-form">Start Date</span></label>
        <input name="start_date" type="datetime-local" id="start_date"><br>
        <label for="beat_date"><span class="admin-form">Beat Date</span></label>
        <input name="beat_date" type="datetime-local" id="beat_date"><br>
        <label for="complete_date"><span class="admin-form">Complete Date</span></label>
        <input name="complete_date" type="datetime-local" id="complete_date"><br>
        <label for="game_notes"><span class="admin-form">Note</span></label>
        <textarea name="game_notes" rows="7" id="game_notes"></textarea><br>
    </section>
</form>

<button id="add-button">Add game</button>
<button id="edit-button">Edit game</button>
<button id="delete-button">Delete game</button>
<script>
    document.getElementById("add-button").addEventListener("click", addData);
    document.getElementById("edit-button").addEventListener("click", editData);
    document.getElementById("delete-button").addEventListener("click", deleteData);
    function addData() {
        document.getElementById("confirm").innerHTML = "Adding data...";
        var formData = new FormData(document.getElementById("game-info"));
        var formDict = {};
        formData.forEach(function(value, key) {
            if (value === '') {
                formDict[key] = null;
            } else {
                formDict[key] = value;
            }
        });
        var request = new Request(
            "/api/haveyouseenx/game",
            {
                method: 'POST',
                body: JSON.stringify([formDict])
            }
        );
        fetch(request).then(
            response => {
                if (response.status !== 200) {
                    console.log('There was a problem! Code: ' + response.status);
                }
                response.text().then(
                    data => {
                        document.getElementById("confirm").innerHTML = data
                    }
                );
            }
        ).catch(
            e => {
                console.log('Fetch error =[', e)
            }
        );
    }
    function editData() {
        document.getElementById("confirm").innerHTML = "Editing data...";
        var formData = new FormData(document.getElementById("game-info"));
        var formDict = {};
        formData.forEach(function(value, key) {
            if (value === '') {
                formDict[key] = null;
            } else {
                formDict[key] = value;
            }
        });
        var request = new Request(
            "/api/haveyouseenx/game",
            {
                method: 'PUT',
                body: JSON.stringify(formDict)
            }
        );
        fetch(request).then(
            response => {
                if (response.status !== 200) {
                    console.log('There was a problem! Code: ' + response.status);
                    document.getElementById("confirm").innerHTML = "API error!";
                    return;
                }
                response.text().then(
                    data => {
                        document.getElementById("confirm").innerHTML = data
                    }
                );
            }
        ).catch(
            e => {
                console.log('Fetch error =[', e)
            }
        );
    }
    function deleteData() {
        document.getElementById("confirm").innerHTML = "Deleting data...";
        var requestURL = (
            "/api/haveyouseenx/game/" +
            String(document.getElementById("_id").value)
        );
        var request = new Request(
            requestURL,
            {
                method: 'DELETE'
            }
        );
        fetch(request).then(
            response => {
                if (response.status !== 200) {
                    console.log('There was a problem! Code: ' + response.status);
                } 
                response.text().then(
                    data => {
                        document.getElementById("confirm").innerHTML = data
                    }
                );
            }
        ).catch(
            e => {
                console.log('Fetch error =[', e)
            }
        );
    }
</script>

<p id="confirm"></p>

{% endblock %}