{% extends 'base.html' %}
  
{% block title %} - haveyouseenx{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/haveyouseenx/css/haveyouseenx.css') }}">
{% endblock %}

{% block java %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="{{ url_for('static', path='/index/js/tarpeydevlayout.js') }}"></script>
{% endblock %}

{% block header %}haveyouseenx{% endblock %}

{% block content %}
<p>
  Type the name of a video game to see if I've played it before. (Or you can leave it blank to show all games.)
</p>

<form action="{{ url_for('search_results') }}" method="GET">
  <input id="searchbox" name="query" type="text" placeholder="Search for a game">
  <button>Go!</button>
</form>

<p>
<b>Stats by Category</b>
Need to fix this and playtime with JS =]
</p>

<p>
  I haven't logged a playtime for every game yet, but so far there's over ?????????? hours of gameplay in the database.
</p>

<div class="hysx" id="timeline">
  <script>
    const fetchTimelineData = async () => {
      let rawData = await fetch("/api/haveyouseenx/timeline")
      //use string literals
      let chartData = await rawData.json();
      return chartData;
    }

    var timelineChart = async () => {
      let chartData = await fetchTimelineData();
      var xDataClean = [];
      // we just need a loop over the x data to convert
      // to datetime
      for ( var i = 0; i < chartData['x_data_dates'].length; i ++ ) {
        xDataClean[i] = new Date(chartData['x_data_dates'][i])
      };
      var plotData = [
        {x: xDataClean, y: chartData['y_data_c'], name: 'Completed', hovertext: chartData['y_data_c'], stackgroup: 'one', groupnorm: 'percent'},
        {x: xDataClean, y: chartData['y_data_b'], name: 'Beaten', hovertext: chartData['y_data_b'], stackgroup: 'one'},
        {x: xDataClean, y: chartData['y_data_s'], name: 'Started', hovertext: chartData['y_data_s'], stackgroup: 'one'},
        {x: xDataClean, y: chartData['y_data_ns'], name: 'Not Started', hovertext: chartData['y_data_ns'], stackgroup: 'one'},
      ];
      var layout = {
        template: tarpeydevDefault,
        title: 'Backlog Timeline',
        showlegend: true,
        yaxis: {
          title: '% in Category',
        },
        colorway: chartData['area_colors'],
      };
      var config = {responsive: true};
      Plotly.newPlot('timeline', plotData, layout, config);
    }

    timelineChart();
  </script>
</div>

<div class="hysx" id="treemap">
<!-- treemap retired for now -->
</div>

<div class="hysx" id="bubbles">
  <script>
    const fetchBubblesData = async () => {
      let rawData = await fetch("/api/haveyouseenx/bubbles")
      //use string literals
      let chartData = await rawData.json();
      return chartData;
    }

    var bubblesChart = async () => {
      let chartData = await fetchBubblesData();
      // plotData needs to be an array of valid traces, so
      // here's a loop that constructs the traces from
      // x_data and y_data, then pushes it into plotData
      var plotData = [];
      for ( var i = 0; i < chartData['x_data_counts'].length; i ++ ) {
        var trace = {
          x: chartData['x_data_counts'][i],
          y: chartData['y_data_dist'][i],
          name: chartData['bubble_names'][i],
          mode: 'markers',
          type: 'scatter',
          text: chartData['label_data'][i],
          marker: {
            size: chartData['z_data_hours'][i],
            sizemode: 'area',
            sizeref: 0.5,
          }
        };
        plotData.push(trace);
      };
      var layout = {
        template: tarpeydevDefault,
        title: 'Backlog Distribution',
        showlegend: true,
        xaxis: {
          title: 'Game Count',
        },
        yaxis: {
          title: '% in Category',
        },
        colorway: chartData['color_data'],
      };
      var config = {responsive: true};
      Plotly.newPlot('bubbles', plotData, layout, config);
    }

    bubblesChart();
  </script>
</div>
{% endblock %}
