{% extends 'base.html' %}
  
{% block title %}haveyouseenx{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='haveyouseenx/css/haveyouseenx.css') }}">
{% endblock %}

{% block java %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block header %}haveyouseenx{% endblock %}

{% block content %}
<p>
  Type the name of a video game to see if I've played it before. (Or you can leave it blank to show all games.)
</p>

<form action="{{ url_for('haveyouseenx.results', query=query) }}" method="GET">
  <input id="searchbox" name="query" type="text" placeholder="Search for a game">
  <button>Go!</button>
</form>

<p>
<b>Stats by Category</b>
{% for category, count in stats.items() %}
  <ul>
    <li>{{ category }}: {{ count }}</a></li>
  </ul>
{% endfor %}
</p>

<p>
  I haven't logged a playtime for every game yet, but so far there's over {{ playtime }} hours of gameplay in the database.
</p>

<div class="hysx_treemap" id="treemap">
  <script>
    var graphs = {{treemap | safe}};
    var layout = {};
    var config = {responsive: true};
    Plotly.react('treemap', graphs, layout, config);
  </script>
</div>
{% endblock %}
