{% extends 'base.html' %}
  
{% block title %} - haveyouseenx{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/haveyouseenx/css/haveyouseenx.css') }}">
{% endblock %}

{% block java %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="{{ url_for('static', path='/index/js/tarpeydevlayout.js') }}"></script>
{% endblock %}

{% block header %}haveyouseenx{% endblock %}

{% block content %}
<p>
  Type the name of a video game to see if I've played it before. (Or you can leave it blank to show all games.)
</p>

<form action="{{ url_for('haveyouseenx.results', query=query) }}" method="GET">
  <input id="searchbox" name="query" type="text" placeholder="Search for a game">
  <button>Go!</button>
</form>

<p>
<b>Stats by Category</b>
{% for category, count in stats.items() %}
  <ul>
    <li>{{ category }}: {{ count }}</a></li>
  </ul>
{% endfor %}
</p>

<p>
  I haven't logged a playtime for every game yet, but so far there's over {{ playtime }} hours of gameplay in the database.
</p>

<div class="hysx" id="timeline">
  <script>
    // pull x_data, y_data from Python
    var yDataC = {{y_data_c | safe}};
    var yDataB = {{y_data_b | safe}};
    var yDataS = {{y_data_s | safe}};
    var yDataNS = {{y_data_ns | safe}};
    var xData = {{x_data_dates | safe}};
    var xDataClean = [];
    var colorData = {{area_colors | safe}};
    // we just need a loop over the x data to convert
    // to datetime
    for ( var i = 0; i < xData.length; i ++ ) {
      xDataClean[i] = new Date(xData[i])
    };
    var plotData = [
      {x: xDataClean, y: yDataC, name: 'Completed', hovertext: yDataC, stackgroup: 'one', groupnorm: 'percent'},
      {x: xDataClean, y: yDataB, name: 'Beaten', hovertext: yDataB, stackgroup: 'one'},
      {x: xDataClean, y: yDataS, name: 'Started', hovertext: yDataS, stackgroup: 'one'},
      {x: xDataClean, y: yDataNS, name: 'Not Started', hovertext: yDataNS, stackgroup: 'one'},
    ];
    var layout = {
      template: tarpeydevDefault,
      title: 'Backlog Timeline',
      showlegend: true,
      yaxis: {
        title: '% in Category',
      },
      colorway: colorData,
    };
    var config = {responsive: true};
    Plotly.newPlot('timeline', plotData, layout, config);
  </script>
</div>

<div class="hysx" id="treemap">
<!-- treemap retired for now -->
</div>

<div class="hysx" id="bubbles">
  <script>
    // pull x_data, y_data, z_data, and label data from Python
    var xData = {{x_data_counts | safe}};
    var yData = {{y_data_dist | safe}};
    var zData = {{z_data_hours | safe}};
    var bubbleNames = {{bubble_names | safe}}
    var labelText = {{label_text | safe}}
    var colorData = {{color_data | safe}}
    // plotData needs to be an array of valid traces, so
    // here's a loop that constructs the traces from
    // x_data and y_data, then pushes it into plotData
    var plotData = [];
    for ( var i = 0; i < xData.length; i ++ ) {
      var trace = {
        x: xData[i],
        y: yData[i],
        name: bubbleNames[i],
        mode: 'markers',
        type: 'scatter',
        text: labelText[i],
        marker: {
          size: zData[i],
          sizemode: 'area',
          sizeref: 0.5,
        }
      };
      plotData.push(trace);
    };
    var layout = {
      template: tarpeydevDefault,
      title: 'Backlog Distribution',
      showlegend: true,
      xaxis: {
        title: 'Game Count',
      },
      yaxis: {
        title: '% in Category',
      },
      colorway: colorData,
    };
    var config = {responsive: true};
    Plotly.newPlot('bubbles', plotData, layout, config);
  </script>
</div>
{% endblock %}
