@import url(https://fonts.googleapis.com/css?family=Lato:700,400);

/* specific elements of /colors */
.colorhead {
  background-color:#000000;
  border-style:solid;
  border-width:1px;
  border-color:#000000;
  position:relative;
  color:#ffffff;
  font-family:"Lato",sans-serif;
  font-weight:bold;
  padding:5px;
}

.dark-palettes, .light-palettes {
  border-style:solid;
  border-width:1px;
  border-color:#000000;
  position:relative;
  font-family:"Lato",sans-serif;
  padding:5px;
}
