@import url(https://fonts.googleapis.com/css?family=Lato:700,400);

main {
  margin: 0 auto;
}
h1, h3, main nav {
  text-align: center;
  margin: 20px auto;
  max-width: 1000px;
}
.donate { background-color:#144725 }
.refer { background-color:#381447 }
.apps { background-color:#472414 }
.games { background-color:#434714 }