@import url(https://fonts.googleapis.com/css?family=Lato:700,400);

body {
  background-color:#000000;
}

.headers {
  font-family:"Lato",sans-serif;
  font-weight:bold;
  font-size:60px;
  color:#ffffff;
}

.donateheader {
  font-family:"Lato",sans-serif;
  font-weight:bold;
  font-size:60px;
  color:#66ff99;
}

.left {
  float:left;
  width:50%;
}

.right {
  float:right;
  width:50%;
}

.apps {
  background-color:#e6005c;
  border-style:solid;
  border-width:1px;
  border-color:#000000;
  position:relative;
  font-family:"Lato",sans-serif;
  color:#ffffff;
  font-weight:bold;
  padding:10px;
  font-size:60px;
}

.twitter {
  background-color:#55acee;
  border-style:solid;
  border-width:1px;
  border-color:#000000;
  position:relative;
  font-family:"Lato",sans-serif;
  color:#ffffff;
  font-weight:bold;
  padding:10px;
  font-size:60px;       
}

.youtube {
  background-color:#cd201f;
  border-style:solid;
  border-width:1px;
  border-color:#000000;
  position:relative;
  font-family:"Lato",sans-serif;
  color:#ffffff;
  font-weight:bold;
  padding:10px;
  font-size:60px;       
}

.twitch {
  background-color:#6441a5;
  border-style:solid;
  border-width:1px;
  border-color:#000000;
  position:relative;
  font-family:"Lato",sans-serif;
  color:#ffffff;
  font-weight:bold;
  padding:10px;
  font-size:60px;       
}

.games {
  background-color:#444444;
  border-style:solid;
  border-width:1px;
  border-color:#000000;
  position:relative;
  font-family:"Lato",sans-serif;
  color:#ffffff;
  font-weight:bold;
  padding:10px;
  font-size:60px;       
}

.sports {
  background-color:#000000;
  border-style:solid;
  border-width:1px;
  border-color:#000000;
  position:relative;
  font-family:"Lato",sans-serif;
  font-weight:bold;
  padding:10px;
  font-size:36px;
}

.channels {
  background-color:#000000;
  border-style:solid;
  border-width:1px;
  border-color:#000000;
  position:relative;
  font-family:"Lato",sans-serif;
  font-weight:bold;
  padding:10px;
  font-size:36px;
}

.donate {
  background-color:#000000;
  border-style:solid;
  border-width:1px;
  border-color:#000000;
  position:relative;
  font-family:"Lato",sans-serif;
  font-weight:bold;
  padding:10px;
  font-size:36px;
}

.referrals {
  background-color:#000000;
  border-style:solid;
  border-width:1px;
  border-color:#000000;
  position:relative;
  font-family:"Lato",sans-serif;
  font-weight:bold;
  padding:10px;
  font-size:36px;
}

.education {
  background-color:#000000;
  border-style:solid;
  border-width:1px;
  border-color:#000000;
  position:relative;
  font-family:"Lato",sans-serif;
  font-weight:bold;
  padding:10px;
  font-size:36px;
}

.tools {
  background-color:#000000;
  border-style:solid;
  border-width:1px;
  border-color:#000000;
  position:relative;
  font-family:"Lato",sans-serif;
  font-weight:bold;
  padding:10px;
  font-size:36px;
}

.network {
  background-color:#000000;
  border-style:solid;
  border-width:1px;
  border-color:#000000;
  position:relative;
  font-family:"Lato",sans-serif;
  font-weight:bold;
  padding:10px;
  font-size:36px;
}

.clear {
  clear:both;
}

p {
  padding:0px;
  margin:0px;
}

a.class1:link {color:#ffb3d1;}    
a.class1:visited {color:#ff80b3;}
a.class1:hover {color:#ffe5f0;}    
a.class1:active {color:#ffe5f0;}

a.class2:link {color:#ffffff;}     
a.class2:visited {color:#bbbbbb;}
a.class2:hover {color:#dddddd;}    
a.class2:active {color:#dddddd;} 

a.class3:link {color:#99ffbb;}     
a.class3:visited {color:#bbbbbb;}
a.class3:hover {color:#4dff88;}    
a.class3:active {color:#4dff88;} 

a.classwhite:link {color:#ffffff;}     
a.classwhite:visited {color:#bbbbbb;}
a.classwhite:hover {color:#dddddd;}    
a.classwhite:active {color:#dddddd;}