<!DOCTYPE html>
<html>
<head>
  <title>ddr</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index/css/style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ddr/css/style.css') }}">
  
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='index/favicon/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='index/favicon/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='index/favicon/favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='index/favicon/site.webmanifest') }}">
  <link rel="mask-icon" href="{{ url_for('static', filename='index/favicon/safari-pinned-tab.svg') }}" color="#5bbad5">
  <link rel="shortcut icon" href="{{ url_for('static', filename='index/favicon/favicon.ico') }}">
  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta name="theme-color" content="#ffffff">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <p>
    Here's my raw memory card data for this game. I'm still working on mapping each file. As I get further along in mapping, the stats you see below will update accordingly.
    </p>

    <p>
        <b>Stats</b>
    </p>

    <ul>
        <li><b>Song play count: </b>{{ df.loc[df.type == 'Play Count', 'value'].sum()|int }}</li>
    </ul>

    <div style="overflow-x:auto;"><table>
    <thead>
      {% for header in df.columns %}
      <th class="ddr_header">{{ header }}</th>
      {% endfor %}
    </thead>
    <tbody>
      {% for index, row in df.loc[df.type != 'Unknown'].iterrows() %}
      <tr class="ddr_row">
        <td class="starting_byte">
          {{ row.starting_byte }}
        </td>
        <td class="byte_length">
          {{ row.byte_length }}
        </td>
        <td class="type">
          {{ row.type }}
        </td>
        <td class="song">
          {{ row.song }}
        </td>
        <td class="style">
          {{ row.style }}
        </td>
        <td class="difficulty">
          {{ row.difficulty }}
        </td>
        <td class="value">
          {{ row.value }}
        </td>
        <td class="hex_string">
          {{ row.hex_string }}
        </td>
        <td class="raw_bytes">
          {{ row.raw_bytes }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table></div>

    <p>
        <a href="{{ url_for('index.index') }}">Back to the homepage</a>
    </p>

</body>
</html>