{% extends 'base.html' %}
  
{% block title %} - {{ game }}{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ddr/css/ddr.css') }}">
{% endblock %}

{% block header %}
{{ game }}
{% endblock %}

{% block content %}
  <p>
  Here's my raw memory card data for this game. I'm still working on mapping each file. As I get further along in mapping, the stats you see below will update accordingly.
  </p>

  <p>
      <b>Stats</b>
  </p>

  <ul>
      <li><b>Song play count: </b>{{ df.loc[df.type == 'Play Count', 'value'].sum()|int }}</li>
  </ul>

  <div style="overflow-x:auto;"><table>
  <thead>
    {% for header in df.columns %}
    <th class="ddr_header">{{ header }}</th>
    {% endfor %}
  </thead>
  <tbody>
    {% for index, row in df.loc[df.type != 'Unknown'].iterrows() %}
    <tr class="ddr_row">
      <td class="starting_byte">
        {{ row.starting_byte }}
      </td>
      <td class="byte_length">
        {{ row.byte_length }}
      </td>
      <td class="type">
        {{ row.type }}
      </td>
      <td class="song">
        {{ row.song }}
      </td>
      <td class="style">
        {{ row.style }}
      </td>
      <td class="difficulty">
        {{ row.difficulty }}
      </td>
      <td class="value">
        {{ row.value }}
      </td>
      <td class="hex_string">
        {{ row.hex_string }}
      </td>
      <td class="raw_bytes">
        {{ row.raw_bytes }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
  </table></div>
{% endblock %}