{% extends 'base.html' %}

{% block description %}
<meta name="description" content="Mike Tarpey's memory card data
for the PS2 Dance Dance Revolution games. Currently under construction,
but will eventually be fully mapped to every song and course.">
{% endblock %}

{% block title %} - ddr{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/ddr/css/ddr.css') }}">
{% endblock %}

{% block header %}DDR{% endblock %}
{% block content %}
<section id="select-style" class="center">
  <h3 class="section-header">Select a style! (These are all PS2 games.)</h3>
  <nav class="nav-container">
    <div class="big-nav">
      <a class="big-nav-link max" href="{{ url_for('game_info', game='max_jp') }}">
        <span class="big-nav-text">DDRMAX JP</span>
      </a>
    </div>
    <div class="big-nav">
      <a class="big-nav-link max" href="{{ url_for('game_info', game='max_us') }}">
        <span class="big-nav-text">DDRMAX US</span>
      </a>
    </div>
    <div class="big-nav">
      <a class="big-nav-link max2" href="{{ url_for('game_info', game='max2_jp') }}">
        <span class="big-nav-text">DDRMAX2 JP</span>
      </a>
    </div>
    <div class="big-nav">
      <a class="big-nav-link max2" href="{{ url_for('game_info', game='max2_us') }}">
        <span class="big-nav-text">DDRMAX2 US</span>
      </a>
    </div>
    <div class="big-nav">
      <a class="big-nav-link ex" href="{{ url_for('game_info', game='ex_jp') }}">
        <span class="big-nav-text">Extreme JP</span>
      </a>
    </div>
    <div class="big-nav">
      <a class="big-nav-link ex" href="{{ url_for('game_info', game='ex_us') }}">
        <span class="big-nav-text">Extreme US</span>
      </a>
    </div>
    <div class="big-nav">
      <a class="big-nav-link ex2" href="{{ url_for('game_info', game='ex2_us') }}">
        <span class="big-nav-text">Extreme 2 US</span>
      </a>
    </div>
    <div class="big-nav">
      <a class="big-nav-link sn" href="{{ url_for('game_info', game='sn_us') }}">
        <span class="big-nav-text">SuperNova US</span>
      </a>
    </div>
    <div class="big-nav">
      <a class="big-nav-link sn2" href="{{ url_for('game_info', game='sn2_us') }}">
        <span class="big-nav-text">SuperNova 2 US</span>
      </a>
    </div>
    <div class="big-nav">
      <a class="big-nav-link ddrx" href="{{ url_for('game_info', game='x_us') }}">
        <span class="big-nav-text">X US</span>
      </a>
    </div>
  </nav>
</section>
{% endblock %}