<!doctype html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-2C1GEE8FJ3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-2C1GEE8FJ3');
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pleasejs/0.4.2/Please.min.js" integrity="sha512-XTYPyRh2VppCJQXdjcQrCXVpleLCiMB2PSztUvaeQJvT1mhNxkAKMWH7F2hE1C+yxngS4kchaMM+wkv8HVQ4Ww==" crossorigin="anonymous"></script>
  <title>mike tarpey{% block title %}{% endblock %}</title>
  {% block description %}{% endblock %}
  <meta name="author" content="Mike Tarpey">
  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta name="theme-color" content="#ffffff">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/index/css/style.css') }}">
  {% block style %}{% endblock %}
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', path='/index/favicon/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', path='/index/favicon/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', path='/index/favicon/favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', path='/index/favicon/site.webmanifest') }}">
  <link rel="mask-icon" href="{{ url_for('static', path='/index/favicon/safari-pinned-tab.svg') }}" color="#5bbad5">
  <link rel="shortcut icon" href="{{ url_for('static', path='/index/favicon/favicon.ico') }}">
  {% block java %}{% endblock %}
</head>

<body>
  <header>
    <nav class="head-nav">
      Hello{% if request.state.active_user %},
      {{ request.state.active_user }}{% endif %}!
      <a class="small-nav-link index" href="{{ url_for('homepage') }}">home</a>
      <a class="small-nav-link mildredleague" href="{{ url_for('mildredleague') }}">mildredleague</a>
      <a class="small-nav-link haveyouseenx" href="{{ url_for('haveyouseenx') }}">haveyouseenx</a>
      <a class="small-nav-link timecapsule" href="{{ url_for('timecapsule', template_id='enter') }}">timecapsule</a>
      <a class="small-nav-link ddr" href="{{ url_for('ddr') }}">DDR</a>
      <a class="small-nav-link autobracket" href="{{ url_for('generate') }}">autobracket</a>
      <a class="small-nav-link links" href="{{ url_for('links') }}">links</a>
      <a class="small-nav-link colors" href="{{ url_for('colors') }}">colors</a>
      {% if request.state.active_user %}
      <a class="small-nav-link login" href="{{ url_for('logout') }}">logout</a>
      {% else %}
      <a class="small-nav-link login" href="{{ url_for('login') }}">login</a>
      {% endif %}
    </nav>
  </header>
  {% block special %}{% endblock %}
  <main>
    <h1 class="title-header">{% block header %}{% endblock %}</h1>
  {% block content %}{% endblock %}
  </main>
  <footer>
    <hr>
    <nav class="foot-nav">
      <a class="small-nav-link email" href="mailto:mike@tarpey.dev">email</a>
      <a class="small-nav-link github" href="https://github.com/AnnuityDew/tarpey-dev">github</a>
      <a class="small-nav-link discord" href="https://discord.com/invite/bVDZfNe">discord</a>
      <a class="small-nav-link twitch" href="http://www.twitch.tv/annuitydew">twitch</a>
      <a class="small-nav-link instagram" href="https://www.instagram.com/annuitydew/">instagram</a>
      <a class="small-nav-link twitter" href="http://www.twitter.com/AnnuityDew">twitter</a>
      <a class="small-nav-link youtube" href="http://www.youtube.com/user/annuitydew">youtube</a>
      <a class="small-nav-link specs" href="https://pcpartpicker.com/b/zzMcCJ">specs</a>
      <a class="small-nav-link steam" href="https://steamcommunity.com/id/annuitydew">steam</a>
      <a class="small-nav-link tumblr" href="https://annuitydew.tumblr.com/">tumblr</a>
    </nav>
  </footer>
</body>
</html>