<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='timecapsule/css/style.css') }}">
<html>
<font face=verdana color=FFFFFF size=3>
<link rel="shortcut icon" HREF="http://michaeltarpey.com/1up.ico">

	<head>
		<title>
		Mike Tarpey's AP Scholar with Distinction Award for 2009
		</title>
		<META NAME="Keywords" CONTENT="michael mike patrick tarpey college senior uconn irish landstown high class of 2010">
		<META NAME="Description" CONTENT="This is Mike Tarpey's AP Scholar with Distinction award for the 2008-09 school year at Landstown High.">
	</head>
	
	<body bgcolor=003092 text=FFFFFF link=B3B3B3 alink=FFFFFF vlink=FFFFFF>
		
<img src="{{ url_for('static', filename='timecapsule/images/apscholard.png') }}" height=493 width=640>

		<p>
		<font size=1><center>To contact Mike Tarpey, type up an e-mail and send it to an old email address that no longer exists.
		</p>
		
		<p>
		<a href="{{ url_for('timecapsule.index') }}">Back to the home page</a>
		</p>
	</body>


</html>