<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index/css/style.css') }}">

<html class="default">	

<head>
	<title>mildredleague rules</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='index/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='index/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='index/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='index/favicon/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='index/favicon/safari-pinned-tab.svg') }}" color="#5bbad5">
    <link rel="shortcut icon" href="{{ url_for('static', filename='index/favicon/favicon.ico') }}">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">

</head>

<p>
    <b>Current Ruleset</b>
    <ul>
        <li>Prize pool: 3rd place refund, 2nd place 2x refund, 1st place gets pot</li>
        <li>Roster: QB / RB / 2WR / TE / 2FLX / 1K / 1D / 5B</li>
        <li>Divisions: Champions, AFC East, Referees</li>
        <li>Playoffs: Three division winners (#1, #2, #3) and three wild cards (#4, #5, #6) make playoffs. Playoffs reseed after each round.</li>
        <li>Consolation bracket: Swiss-style tournament. Winner earns choice of draft slot next year.</li>
        <li>Scheduling: play divisional opponents twice. Schedule fills with non-division opponents.</li>
    </ul>
</p>

<p>
    <b>Playoff Tiebreakers</b><br>
    A) If two teams in the same division end up tied (i.e. 7-7), tiebreakers will happen in this order:<br>
    <ol>
        <li>Head-to-head record</li>
        <li>Division record</li>
        <li>Points for</li>
        <li>Points against</li>
        <li>Coin toss (a real one, not random number generated)</li>
    </ol>
    B) If two teams in different divisions end up tied, tiebreakers will happen in this order:
    <ol>
        <li>Head-to-head record</li>
        <li>Points for</li>
        <li>Points against</li>
        <li>Coin toss (a real one, not random number generated)</li>
    </ol>
    C) If 3+ teams end up tied, ties are broken INSIDE each division first before comparing teams from different divisions.<br>
</p>

<p>
	<a href="{{ url_for('mildredleague.home') }}">Back to Mildred League</a>
</p>

<p>
	<a href="{{ url_for('index.index') }}">Back to the homepage</a>
</p>

</html>