{% extends 'base.html' %}

{% block description %}
<meta name="description" content="Mike Tarpey's login portal.
I'm not sure why you would need to login to my website.">
{% endblock %}

{% block title %} - login{% endblock %}

{% block header %}login{% endblock %}

{% block content %}

<p>
{{ message }}
</p>

<form method="post" action="{{ url_for('auth') }}">
  <label for="username">Username</label>
  <input name="username" id="username" required><br>
  <label for="password">Password</label>
  <input type="password" name="password" id="password" required><br>
  <input type="submit" value="Login">
</form>
{% endblock %}